beautifulsoup4
certifi
chardet
imageio
loguru
lxml
msgspec
natsort
networkx
packaging
platformdirs
psutil
pygit2
pygithub
pyperclip
requests
sqlalchemy
steam
toposort
watchdog
xmltodict
wxPython
loguru
