requests
packaging
platformdirs
beautifulsoup4
Pillow
QtAwesome
psutil
certifi
PySide6
tqdm
plyer
jsonschema
PyQtWebEngine
pyinstaller
loguru
rich
pyyaml
pywin32
watchdog
aiohttp
qdarkstyle
python-i18n